.bannerPrincipal {

  /*
    background-image: url(/img/bg-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  */
  background: rgb(248,188,40);
  background: linear-gradient(36deg, rgba(248,188,40,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 65%, rgba(145,58,175,1) 100%);
  padding-bottom: 1rem; 
}

  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    margin-bottom: 6rem;
  }

  .imgResponsiva {
    border-radius: 50%;
    border: 0.5rem solid var(--corBranco);
  }