@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

:root {
  --corPrimaria: #F8BC28;
  --corSecundaria: #A577CF;
  --corTerciaria: #341B4C;
  --corBranco: #fff;
  --fontSlab: 'Roboto Slab', sans-serif;
  --fontLato: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--fontLato);
  color: #333;
  font-size: 16px;
  line-height: 26px;
  box-sizing: border-box;
}

header {
  background: var(--corPrimaria);
}

.coluna,
.blocoConquistas {
  width: 45%;
}

.conteudo {
  width: 80%;
  max-width: 71.25rem;
  min-width: 60%;
  margin: 0 auto 0 auto;
}

.blocoDeRecursos,
.blocoConquistas {
  text-align: center;
  width: 30%;
  margin: 3.125rem 0 0.9375rem 0;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.cor-Primaria {
  color: var(--corSecundaria);
}

.cor-Secundaria {
  color: var(--corPrimaria);
}

.cor-Terciaria {
  color: var(--corTerciaria);
}

.blocoDeRecursos i {
  font-size: 3rem;
}

.tituloblocoDeRecursos {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.todosBlocosDeRecursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tituloDeSessao {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.titulo {
  margin: 0.5rem 0;
  font-family: var(--fontSlab);
  font-style: normal;
  font-weight: 800;
  font-size: 3rem;
  line-height: 4rem;
}
.subtitulo {
  font-family: var(--fontLato);
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
}

.padding3rem {
  padding-top: 3rem;
}

/*Cabeçalho*/

.cabecalho {
  background-color: var(--corPrimaria);
  box-shadow: 0px 1px 0px #e5e9f2;
  padding: 1.625rem 0;
}

.conteudoDoHeader,
.conteudoConquistas,
.blocosNumeros,
.blocoDepoimentos,
.conteudoSobre {
  display: flex;
  justify-content: space-between;
}

.conteudoVamosLa,
.conteduoGerenciaProjetos {
  margin-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.informacoesDoCabecalho,
.informacoesDoCabecalho nav {
  display: flex;
  align-items: center;
}

.informacoesDoCabecalho img,
.informacoesDoCabecalho nav a {
  margin-right: 2rem;
}

.informacoesDoCabecalho nav a {
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-decoration: none;
  color: #18191f;
}

.botoesLoja a {
  margin-right: 0.75rem;
  text-decoration: none;
}

/*Geral*/

.tituloPrincipal {
  font-family: var(--fontSlab);
  font-weight: 200;
  font-size: 5rem;
  line-height: 6.125rem;
  margin-bottom: 2rem;
  color: var(--corTerciaria);
}

.botao {
  color: var(--corBranco);
  background: var(--corTerciaria);
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem 4.1875rem;
  transition: 0.3s;
  margin-bottom: 2rem;
}

.botao:hover {
  background: var(--corSecundaria);
}

.marginNegative110 {
  margin-top: -6.875rem;
}

.marginNegative110 
.depoimento:first-child {
  margin-bottom: 7.75rem;
}

.largura350px {
  width: 21.875rem;
}
